$neutral-1: #161718;
$neutral-2: #1e1f20;
$neutral-3: #252627;
$neutral-4: #323334;
$neutral-5: #646768;
$neutral-6: #8A8E8F;
$neutral-7: #A4A7A8;
$neutral-8: #BEC0C1;
$neutral-9: #FAFAFA;

$primary-3: #f5b000;
$primary-4: #ffbe1a;